* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  height: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  grid-row: 1/3;
  border: 1px solid black;
}

.header {
  border: 1px solid black;
}

.main {
  border: 1px solid black;
}
